<!-- menu -->
<div class="container menuWrap">
	<header>
		<a href="#" class="back"><img src="/images/btn_back_menu.png" alt="back"></a>
		<h1>
			U.M.S
		</h1>
		<a class="close"><img src="/images/btn_close.png" alt="close"></a>
	</header>
	<section>
		<header>
			<div class="welcome">
				<p>환영합니다.<br><span>홍길동(202103001)</span>님</p>
				<p class="alarm new"></p>	<!--	새로운 알람이 있을 경우 new 클래스 추가	-->
			</div>
			<button>로그아웃</button>
		</header>
		<article>
			<ul>
				<li><a href="UMS10201.html">인사관리</a></li>
				<li><a href="UMS10301.html">매출관리</a></li>
				<li><a href="UMS10401.html">실시간 근태관리</a></li>
				<li><a href="UMS10701.html">교육관리</a></li>
				<li><a href="UMS10501.html">연장신청관리</a></li>
				<li><a href="UMS10601.html">휴가관리</a></li>
				<li><a href="UMS11001.html">일정관리</a></li>
				<li><a href="UMS10801.html">업무관리</a></li>
				<li><a href="">전자근로계약서</a></li>
			</ul>
			<ul>
				<li><a href="#">비밀번호변경</a></li>
			</ul>
		</article>
	</section>
</div>
<!-- // menu -->